[submodule "backend"]
	path = backend
	url = git@github.com:yyq856/ERP.git
	branch = feat/logic-update
[submodule "erp"]
	path = erp
	url = git@github.com:pezy-yx/ERP-SD-simplified.git
	branch = main
